.topicos {
    background: var(--cor-azul-gradiente);
    padding-bottom: 1em;    
}
.topicos__titulo {
    
    color: var(--cor-de-fundo2);
    font-weight: 300;
    text-align: center;
    font-size: 1rem;
    padding: 1.5rem 0 2rem 0;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    padding: 1em;
}

.topicos__lista__item {
    padding: 1.5em .5em;
}

.topicos__lista__link {
    background-color: var(--cor-texto-destaque);
    color: var(--cor-de-fundo2);
    padding: 1em;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
}